<div class="bdy">
    <div *ngIf="cric">
        <h1>{{cric[0].name}}</h1>
        <img [src] = "images">
        <p>Cricket is a bat-and-ball game played between two teams of eleven players on a field at the centre of which is a 22-yard (20-metre) pitch with a wicket at each end, each comprising two bails balanced on three stumps. Forms of cricket range from Twenty20, with each team batting for a single innings of 20 overs, to Test matches played over five days. The earliest reference to cricket is in South East England in the mid-16th century. It spread globally with the expansion of the British Empire, with the first international matches in the second half of the 19th century. The game's governing body is the International Cricket Council (ICC). The game's rules, the Laws of Cricket, are maintained by Marylebone Cricket Club (MCC) in London. The sport is followed primarily in the Indian subcontinent, Australia, the United Kingdom, southern Africa and the West Indies.</p>
        <p>Some known facts</p>
        <ul class="b">
            <li>{{cric[0].facts[0]}}</li>
            <li>{{cric[0].facts[1]}}</li>
            <li>{{cric[0].facts[2]}}</li>
            <li>{{cric[0].facts[3]}}</li>
            <li>{{cric[0].facts[4]}}</li>
        </ul>
    </div>
</div>