.sidebar-nav{
  background-color: #68B290 ;
  color:#fff;
  height: 500px;
}
.sidebar-nav .parametersPanel li {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-bottom: 20px;
}
.sidebar-nav .parametersPanel mat-panel-title {
    color: white;
    font-size: large;
}
.sidebar-nav .parametersPanel li a{
    color: white;
}
.mat-expansion-panel{
    padding: 0;
    background-color: #68B290;
}
