.sidebar-nav{
    background-color: #008E7D;
    color:#fff !important;
    height: 500px;
  }
  .sidebar-nav .parametersPanel li {
      padding-top: 25px;
      padding-bottom: 10px;
      font-size:18px;
  }
  .sidebar-nav .parametersPanel li a{
      color: white;
  }
  .mat-expansion-panel{
      padding: 0;
      background-color: #008E7D;
      border: none;
      box-shadow: none;
  }
  .mat-expansion-panel-header-title {
    color: white;
    font-size: 18px;
}