<!--<div class="bg-img1" [hidden] = "flag">
        <img src="../../assets/images/coffee1.jpg">
        <div class="container">
            <button class="btn btn-default btn-lg" (click) = "next_page()">LOGIN</button>
        </div>
    </div>
    <div class="bg-img2" *ngIf = "flag">
        <img src="../../assets/images/coffee2.jpg">
        <div class="cont">
            <form class="form-horizontal">
                <br>Username:<input type="text" class="form-control" [(ngModel)]="username" name="username"
                    placeholder="Enter username"><br>
                Password:<input type="password" class="form-control" [(ngModel)]="password" name="password"
                    placeholder="Enter password"><br>
                <div class="col-sm-offset-9">
                    <button type="submit" class="btn btn-primary" (click)="login_validate()">Submit</button>
                </div>
            </form>
        </div>
    </div>-->
<div>
    <img src="../../assets/images/coffee1.jpg">
</div>    