<div class="row">
    <div class="col-sm-2">
      <div class="sidebar-nav">
        <mat-expansion-panel class="parametersPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Kabaddi
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Event</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Polling</a></li>
                <li><a routerLink='/kabaddi/kabinfo'>Info</a></li>
            </ul>
        </mat-expansion-panel>
      </div>
    </div>
</div>
